.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 19px;
}
.search-bar {
  margin-top: 30px;
  border: 1px solid rgb(209, 205, 205);
  border-radius: 50px;
  height: 45px;
  width: 550px;
}
