<div class="container">
  <a
    class="link-1"
    href="https://accounts.google.com/v3/signin/identifier?dsh=S1997076960%3A1684515313459225&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&ifkv=Af_xneELah2ZvPNA1F-6z5d38S0X3MK7Wpqqrcbzo9u7Jy9hIGLSP-apA-Fp-c7eKW3kq-3a2E59AA&rip=1&sacu=1&service=mail&flowName=GlifWebSignIn&flowEntry=ServiceLogin"
    >Gmail</a
  >
  <a class="link-2" href="https://www.google.com.br/imghp?hl=pt-BR&ogbl"
    >Imagens</a
  >
  <img
    src="https://cdn.icon-icons.com/icons2/2838/PNG/512/view_app_grid_icon_180904.png"
    height="30px"
    alt=""
  />
  <button><a href="">Fazer login</a></button>
</div>
